.desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 240px;
    
    width: 1440px;
    height: 87.14px;
    margin-bottom: -50px;
    
    background: #FFFFFF;
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame2682 {
    /* Frame 2682 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;

    width: 960px;
    height: 39.14px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
  
.logo {
    /* logo */

    width: 102px;
    height: 39.14px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
  
.links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: 826px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 1;

}
  
.small-logo {
    width: 30px;  /* уменьшите размер маленьких логотипов */
    height: 30px;
    margin-right: 5px;
}

.space {
    /* Item menu */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: 292px;
    height: 24px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 1;

}
  
.divider {
    /* Divider */

    width: 100vw;
    height: 0px;

    border: 1px solid #CED2DA;
    gap: 10px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.itemMenu1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 111px;
    height: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.itemMenu2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 98px;
    height: 24px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}


.itemMenu3 {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: 292px;
    height: 24px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 1;
}


.line1 {
    /* Line */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 106px;
    height: 24px;


    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;

}


.line2 {
    /* Line */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 91px;
    height: 24px;


    /* Inside auto layout */
    flex: none;
    order: 4;
    flex-grow: 0;
}

.user {
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.profileText {
    width: 71px;
    height: 24px;

    /* Paragraph 16/Medium */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    color: #344051;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.time {
    /* Time */

    width: 24px;
    height: 24px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.ordersText {
    /* Item menu */

    width: 58px;
    height: 24px;

    /* Paragraph 16/Medium */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    color: #344051;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.cart {
    /* lets-icons:basket-alt-3-light */

    width: 24px;
    height: 24px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    
}

.cartText {
     /* Item menu */

    width: 66px;
    height: 24px;

    /* Paragraph 16/Medium */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    color: #344051;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}


.catalog {
    /* Exit */

    width: 24px;
    height: 24px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    /* Union */
}

.catalogText {
        /* Item menu */

    width: 51px;
    height: 24px;

    /* Paragraph 16/Medium */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    color: #344051;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}
