.cards {
    /* Cards */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;

    width: 960px;
    height: 532.86px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

}

.frame {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: 960px;
    height: 484px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.content {
    /* Content */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 240px 72px;
    gap: 24px;

    width: 1440px;
    height: 604.86px;

    background: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;

}